header {

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 2.5rem;
    padding: 20px;
    font-family: $font1;
  }
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
    color: $white;
  .left {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    
  }
  .right {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
}
